[Unit]
Description=backend-monitor service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/backend-monitor.sh

[Install]
WantedBy=multi-user.target