[Unit]
Description=detect-backdoor service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/detect-backdoor.sh

[Install]
WantedBy=multi-user.target